/* mobile 375px */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
.background {
  width: 100vw;
  height: 100vh;
  background-size: 375px 373px;
  background-image: url(./images/bg-mobile.svg);
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 35px 40px 40px;
  width: 100vw;
  height: 100vh;
  max-width: 400px;
}
.navbar {
  display: flex;
  justify-content: left;
}
.logo {
  height: 30px;
}
.mockups {
  width: 100%;
  height: 210px;
  margin-top: 63px;
}
.col-heading {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 68px 0 0;
  padding: 0 15px;
}
.col-content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.25;
  margin: 27px 0 0;
  letter-spacing: 0.2px;
}
.bt {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  width: 200px;
  height: 42px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  margin-top: 25px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 36%);
}
.bt:hover {
  background-color: hsl(300, 69%, 71%);
  color: #ffffff;
  border-color: hsl(257, 40%, 49%);
}
/* icon */
.social-icons {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

/* desktop 1440px*/
@media (min-width: 1440px) {
  .background {
    width: 100vw;
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-position-x: -63px;
    background-position-y: -20px;
  }
  .main {
    width: 100vw;
    height: 100vh;
    max-width: initial;
    padding: 60px 80px 40px;
  }

  .logo {
    height: 35px;
  }
  .row {
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  /* col1 */
  .mockups {
    margin: 0;
    width: 700px;
    height: 495px;
  }
  /* col2 */
  .col-info {
    text-align: left;
    padding-left: 55px;
    padding-right: 55px;
  }
  .col-heading {
    margin: 0;
    font-size: 35px;
    padding: 0;
  }
  .col-content {
    font-size: 16px;
    margin-top: 35px;
  }
  .bt {
    font-size: 15px;
    height: 55px;
  }
  /* icon */
  .social-icons {
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 22px;
    gap: 16px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
